html {
    font-family: Arial;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    background-color: rgb(204, 200, 200);
  }

  body {
    background-color: rgb(204, 200, 200);
  }
  h1 {
    color: #0F3376;
    padding: 2vh;
    background-color: rgb(204, 200, 200);
  }
  p {
    font-size: 1.5rem;
    background-color: rgb(204, 200, 200);
  }
  form {
    font-size: 1.5rem;
    vertical-align:left;
    padding-bottom: 15px;
    background-color: rgb(204, 200, 200);
  }
  input[type=number], input[type=text] {
    font-size: 1.5rem;
    border: none;
    color: green;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  input[type=button], input[type=submit], input[type=reset] {
    font-size: 1.5rem;
    background-color: #4CAF50;
    border: none;
    color: greenyellow;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .units {
    font-size: 1.2rem;
   }
  .sensor-labels {
    font-size: 1.5rem;
    vertical-align:left;
    padding-bottom: 15px;
  }

  .inputThings{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.inputThings td{
    text-align: left;
}

.navigationToAnotherPage{
  display: flex;
  justify-content: center;
  margin-top: auto;
}

table{
    border: solid;
}
td{
    border: solid;
    width: 25%;
}

.adatok{
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
  background-color: white;
}

.navigationButtonHolder{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.container {
  display: flex;
  justify-content: center;
}

